.languageSwitcherDiv {
padding-top: 20px;
padding-right: 20px;
}

/* Container to align buttons side by side */
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between the buttons */
}

/* Common styles for the round buttons */
.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Makes the button round */
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden; /* Hide anything outside the circle */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Shimmer effect on hover */
.round-button:hover .flag-image {
    animation: shimmer 1.5s ease-in-out infinite;
}

/* Define shimmer animation */
@keyframes shimmer {
    0% {
        filter: brightness(100%) saturate(100%) contrast(100%);
    }
    50% {
        filter: brightness(150%) saturate(120%) contrast(120%);
    }
    100% {
        filter: brightness(100%) saturate(100%) contrast(100%);
    }
}

/* Image inside the round button */
.flag-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire button */
    border-radius: 50%; /* Clip the image to a circle */
}
