/**
 * ----------------------------------------------------------------------------
 * Description: Styling of the Language-swither-component
 * ----------------------------------------------------------------------------
 * Author: Léon Albert
 * ----------------------------------------------------------------------------
 */

.languageSwitcherDiv {
    padding-top: 20px;
    padding-right: 20px;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: auto;
}

.languageSwitcherDiv.hidden {
    opacity: 0;
    pointer-events: none;
}

.languageSwitcherDiv.visible {
    opacity: 1;
}

/* Container to align buttons side by side */
.button-container {
    display: flex;
    gap: 10px;
}

/* Common styles for the round buttons */
.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Shimmer effect on hover */
.round-button:hover .flag-image {
    animation: shimmer 1.5s ease-in-out infinite;
}

/* Define shimmer animation */
@keyframes shimmer {
    0% {
        filter: brightness(100%) saturate(100%) contrast(100%);
    }

    50% {
        filter: brightness(150%) saturate(120%) contrast(120%);
    }

    100% {
        filter: brightness(100%) saturate(100%) contrast(100%);
    }
}

/* Image inside the round button */
.flag-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}