/**
 * ----------------------------------------------------------------------------
 * Description: Styling of the Introduction-text
 * ----------------------------------------------------------------------------
 * Author: Léon Albert
 * ----------------------------------------------------------------------------
 */

 .introductionTextDiv {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsTitle {
    font-size: 80px;
}

.introductionTextSection {
    width: 50%;
    padding-left: 50px;
}

.introductionImage {
    width: 50%;
    height: 300px;
}