/**
 * ----------------------------------------------------------------------------
 * Description: Styling of the SkillsView
 * ----------------------------------------------------------------------------
 * Author: Léon Albert
 * ----------------------------------------------------------------------------
 */

 .skillsDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 150vh;
}

.skillsTitle {
    font-size: 80px;
}

.timeline {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technologies {
    width: 50%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}